
{{ define "bottom" }}


<script>



  jQuery(document).ready(function(){
    jQuery('table tbody').on( 'click', 'tr', function () {
          jQuery(this).toggleClass('selectRow');
          } );		
      setScroll();
      jQuery(window).resize(function () {
          setScroll();
   });
  });
  function setScroll(){
      var height=(parseInt(jQuery(window).height()))+"px";
      jQuery(".scroll-bottom").css( "height",height);
      jQuery(".scroll-bottom").css( "display","inline-block");
  };
</script>

<script src="/public/assets/js/import/main-gsap.js"></script>
<script src="/public/assets/js/import/resizeable.js"></script>
<script src="/public/assets/js/import/neon-api.js"></script>
<script src="/public/assets/js/import/neon-custom.js"></script>
<script src="/public/assets/js/import/jquery-ui-1.10.3.minimal.min.js"></script>
<script src="/public/assets/js/import/joinable.js"></script>




{{ end }}