
{{ define "bottom2" }}

<script>
  jQuery(document).ready(function()
      {
          var table = jQuery("#ctcc_tb").dataTable({
              "sPaginationType": "bootstrap",
              "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
              "bStateSave": true,
              "order": [[ 0, "desc" ]],
            //   dom: 'Bfrtip',
            //   buttons: [
            //     {
            //         text: '批量发送命令',
            //         action: function ( e, dt, node, config ) {
            //           var rows = dt.rows('.selectRow').data()
            //           if(rows.length==0){
            //               alert("至少选择一行！");
            //               return;
            //           }
            //           let parm=[];
            //           for (var j=0;j<rows.length;j++){
            //             var found=false;
            //             for(var i in parm){
            //               if(parm[i].sysId==rows[j][3]&&parm[i].pattern==rows[j][4]&&parm[i].channel==rows[j][5]){
            //                 found=true;
            //               }
            //             }
            //             if(found==false){
            //               parm.push({'sysId':Number(rows[j][3]),'pattern':Number(rows[j][4]),'channel':Number(rows[j][5])}) ;
            //             }
            //           }    
                                   
            //           window.open( "/ctcc/batch_commandpage?value="+ escape(JSON.stringify(parm)) );
            //         }
            //     }
            // ]
          });
          table.columnFilter({
              "sPlaceHolder" : "head:after"
          });		
          jQuery('table tbody').on( 'click', 'tr', function () {
          jQuery(this).toggleClass('selectRow');
          } );		
       });
  </script>
<script type="text/javascript">
    jQuery(document).ready(function()
    {
        var table = jQuery("#protocal_tb").dataTable({
            "sPaginationType": "bootstrap",
            "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            "bStateSave": true,
            "order": [[ 0, "desc" ]],
          //   dom: 'Bfrtip',
          //   buttons: [
          //     {
          //         text: '批量发送命令',
          //         action: function ( e, dt, node, config ) {
          //           var rows = dt.rows('.selectRow').data()
          //           if(rows.length==0){
          //               alert("至少选择一行！");
          //               return;
          //           }
          //           let parm=[];
          //           for (var j=0;j<rows.length;j++){
          //             var found=false;
          //             for(var i in parm){
          //               if(parm[i].ID==rows[j][2]&&parm[i].BID==rows[j][4]&&parm[i].MID==rows[j][3]&&parm[i].ProcessName==rows[j][7]){
          //                 found=true;
          //               }
          //             }
          //             if(found==false){
          //               parm.push({'ID':Number(rows[j][2]),'MID':rows[j][3],'BID':rows[j][4],'ProcessName':rows[j][7]}) ;
          //             }
          //           }    
                                 
          //           window.open( "/protocal/batch_commandpage?value="+ escape(JSON.stringify(parm)) );
          //         }
          //     }
          // ]
        });
        table.columnFilter({
            "sPlaceHolder" : "head:after"
        });		
        jQuery('table tbody').on( 'click', 'tr', function () {
        jQuery(this).toggleClass('selectRow');
        } );		
     });
</script>

<script>
    jQuery(document).ready(function()
        {
            var table = jQuery("#nonreal_tb").dataTable({
                "sPaginationType": "bootstrap",
                "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                "bStateSave": true,
                "order": [[ 0, "desc" ]],
              //   dom: 'Bfrtip',
              //   buttons: [
              //     {
              //         text: '批量发送命令',
              //         action: function ( e, dt, node, config ) {
              //           var rows = dt.rows('.selectRow').data()
              //       if(rows.length==0){
              //           alert("至少选择一行！");
              //           return;
              //       }
              //       let parm=[];
              //       for (var j=0;j<rows.length;j++){
              //         var found=false;
              //         for(var i in parm){
              //           if(parm[i].station==rows[j][13]){
              //             found=true;
              //           }
              //         }
              //         if(found==false){
              //           parm.push({'station':rows[j][13]}) ;
              //         }
              //       }    
                                 
              //       window.open( "/non_real/batch_commandpage?value="+ escape(JSON.stringify(parm)) );
              //         }
              //     }
              // ]
            });
            table.columnFilter({
                "sPlaceHolder" : "head:after"
            });		
            jQuery('table tbody').on( 'click', 'tr', function () {
            jQuery(this).toggleClass('selectRow');
            } );		
         });
</script>


<script>
  jQuery(document).ready(function(){
      setScroll();
      jQuery(window).resize(function () {
          setScroll();
   });
  });
  function setScroll(){
      var height=(parseInt(jQuery(window).height()))+"px";
      jQuery(".scroll-bottom").css( "height",height);
      jQuery(".scroll-bottom").css( "display","inline-block");
  };
</script>

<script src="/public/assets/js/import/main-gsap.js"></script>
<script src="/public/assets/js/import/resizeable.js"></script>
<script src="/public/assets/js/import/neon-api.js"></script>
<script src="/public/assets/js/import/neon-custom.js"></script>
<script src="/public/assets/js/import/jquery-ui-1.10.3.minimal.min.js"></script>
<script src="/public/assets/js/import/joinable.js"></script>




{{ end }}