
{{ define "bottom" }}
<script src="/public/assets/js/import/main-gsap.js"></script>
<script src="/public/assets/js/import/resizeable.js"></script>
<script src="/public/assets/js/import/neon-api.js"></script>
<script src="/public/assets/js/import/neon-custom.js"></script>
<script src="/public/assets/js/import/jquery-ui-1.10.3.minimal.min.js"></script>
<script src="/public/assets/js/import/joinable.js"></script>
<script>
    jQuery(document).ready(function(){
        setScroll();
        jQuery(window).resize(function () {
            setScroll();
     });
    });
    function setScroll(){
        var height=(parseInt(jQuery(window).height()))+"px";
        jQuery(".scroll-bottom").css( "height",height);
        jQuery(".scroll-bottom").css( "display","inline-block");
    };
</script>
<script type="text/javascript">
    jQuery(document).ready(function()
    {
        var table = jQuery("#ctcc_tb,#protocal_tb,#nonreal_tb").dataTable({
            "sPaginationType": "bootstrap",
            "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            "bStateSave": true,
            "order": [[ 0, "desc" ]]
        });
        
        table.columnFilter({
            "sPlaceHolder" : "head:after"
        });					
    });
</script>
{{ end }}