{{ define "content-header" }}
<div class="row">
		
    <!-- Profile Info and Notifications -->
    <div class="col-md-6 col-sm-8 clearfix">

        <ul class="user-info pull-left pull-none-xsm">

            <!-- Profile Info -->
            <li class="profile-info dropdown"><!-- add class "pull-right" if you want to place this from right -->

                <h4><a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="/public/assets/images/thumb-1@2x.png" alt="" class="img-circle" width="44" />
                    {{.}}
                </a></h4>

                <ul class="dropdown-menu">

                    <!-- Reverse Caret -->
                    <li class="caret"></li>

                    <!-- Profile sub-links -->
                    <li>
                        <a href="extra-timeline.html">
                            <i class="entypo-user"></i>
                            Update Password
                        </a>
                    </li>                    
                </ul>
            </li>

        </ul>       

    </div>


    <!-- Raw Links -->
    <div class="col-md-6 col-sm-4 clearfix hidden-xs">

        <ul class="list-inline links-list pull-right">

            <li>
                <a href="/logout">
                    Log Out <i class="entypo-logout right"></i>
                </a>
            </li>
        </ul>

    </div>

</div>

<hr />

{{ end }}