<!DOCTYPE html>
<html lang="en">
<head>
	{{ template "header"}}

</head>


<body class="page-body  page-fade" >

<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
	
	{{ template "navigator"}}
	<div class="main-content" style="overflow:scroll;text-overflow: ellipsis;white-space: nowrap;">
		<div class="panel panel-primary" data-collapsed="0" style="border: none;">
			<div class="panel-heading" >
				<br/>
				<form role="form" class="form-horizontal form-groups-bordered">
					<div class="col-sm-8">
						<div class="form-group">
							<label style="text-align:left" class="col-sm-2 control-label">消息类型</label>			
							<div class="col-sm-4">
								<select class="form-control" id="msgTypeControl_CTCC">
								</select>			
							</div>
							<label style="text-align:left" class="col-sm-2 control-label">软件标识</label>			
							<div class="col-sm-4">
								<select class="form-control" id="sysIdControl">
								</select>									
							</div>
						</div>
						<div class="form-group">
							<label style="text-align:left" class="col-sm-2 control-label">开始时间</label>			
							<div class='input-group date col-sm-4'  >
								<input type='text' class="form-control" id='datetimepicker1' name='datetimepicker1'/>
							</div>
							<label style="text-align:left" class="col-sm-2 control-label">结束时间</label>			
							<div class='input-group date col-sm-4'  >
								<input type='text' class="form-control" id='datetimepicker2' name='datetimepicker1'/>							
							</div>
						</div>
					</div>
					<div class="col-sm-2 ">
						<div  style=" transform: translateY(50%);">
							<button type="button" class="btn btn-default btn-lg" id="queryBtn">查询</button>
						</div>	
					</div>
				</form>
				<br/>
			</div>					
			<table class="table table-bordered datatable"  >
				<thead>
					<tr>
						<th>MsgType</th>
						<th>ProcessId</th>
						<th>SysId</th>
						<th>Pattern</th>
						<th>Channel</th>
						<th>IsSend32KB</th>
						<th>IsSendIPinIP</th>
						<th>IsSaveFile</th>
						<th>IsArchive</th>
						<th>ResendShmHead</th>
						<th>ResendShmTear</th>
						<th>ResendWriteShmLoop</th>
						<th>ResendReadShmLoop</th>
						<th>ResendWriteShmSpeed</th>
						<th>ResendReadShmSpeed</th>
						<th>SaveShmHead</th>
						<th>SaveShmTear</th>
						<th>SaveWriteShmLoop</th>
						<th>SaveReadShmLoop</th>
						<th>SaveWriteShmSpeed</th>
						<th>SaveReadShmSpeed</th>
						<th>RecvBeats</th>
						<th>ResendBeats</th>
						<th>SaveBeats</th>
						<th>RecvBytes</th>
						<th>Send32KFrames</th>
						<th>SendIPinIPFrames</th>
						<th>SendSmallCraftFrames</th>
						<th>TimeStamp</th>
					</tr>
				</thead>
				<tbody id="ctcc_tb">
			
				</tbody>
			</table>			
		</div>

	</div>
</div>
<script src="/public/assets/js/history_query_ctcc.js"></script>
<script src="/public/assets/js/select-assignment.js"></script>
	{{ template "bottom"}}
</body>
</html>