{{ define "header" }}

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="Gofront Admin Panel" />
<meta name="author" content="" />

<title>Gofront</title>


<script src="/public/assets/js/import/jquery-1.11.0.min.js"></script>
<script src="/public/assets/js/import/bootstrap.min.js"></script>
<script src="/public/assets/js/import/moment-with-locales.js"></script>
<script src="/public/assets/js/import/bootstrapValidator.js"></script>
<script src="/public/assets/js/import/bootstrap-datetimepicker.min.js"></script>
<script src="/public/assets/js/import/jquery.dataTables.min.js"></script>
<script src="/public/assets/js/import/TableTools.min.js"></script>
<script src="/public/assets/js/import/dataTables.bootstrap.js"></script>
<script src="/public/assets/js/import/jquery.dataTables.columnFilter.js"></script>
<script src="/public/assets/js/import/lodash.min.js"></script>
<script src="/public/assets/js/import/datatables.responsive.js"></script>
<script src="/public/assets/js/import/select2.min.js"></script>
<script>$.noConflict();</script>
<style type="text/css">
    .table {
   table-layout: fixed ;
}
.table tbody tr td{
   overflow: hidden;
   text-overflow:ellipsis;
   white-space: nowrap;
}

</style>
<link rel="stylesheet" href="/public/assets/css/jquery-ui-1.10.3.custom.min.css">
<link rel="stylesheet" href="/public/assets/css/font-icons/entypo/css/entypo.css">
<link rel="stylesheet" href="/public/assets/css/bootstrap.css">
<link rel="stylesheet" href="/public/assets/css/neon-core.css">
<link rel="stylesheet" href="/public/assets/css/neon-theme.css">
<link rel="stylesheet" href="/public/assets/css/neon-forms.css">
<link rel="stylesheet" href="/public/assets/css/custom.css">
<link rel="stylesheet" href="/public/assets/css/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="/public/assets/css/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="/public/assets/css/datatables.responsive.css">
<link rel="stylesheet" href="/public/assets/css/select2-bootstrap.css">
<link rel="stylesheet" href="/public/assets/css/select2.css">


{{ end }}