<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="Neon Admin Panel" />
	<meta name="author" content="" />

	<title>Gofront | Dashboard</title>


	<script src="/public/assets/js/jquery-1.11.0.min.js"></script>
	<script src="/public/assets/js/neffos.js"></script>
	<script src="/public/assets/js/main-gsap.js"></script>
	<script src="/public/assets/js/resizeable.js"></script>
	<script src="/public/assets/js/neon-api.js"></script>
	<script src="/public/assets/js/neon-custom.js"></script>
	<script>$.noConflict();</script>

	<link rel="stylesheet" href="/public/assets/css/jquery-ui-1.10.3.custom.min.css">
	<link rel="stylesheet" href="/public/assets/css/font-icons/entypo/css/entypo.css">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic">
	<link rel="stylesheet" href="/public/assets/css/bootstrap.css">
	<link rel="stylesheet" href="/public/assets/css/neon-core.css">
	<link rel="stylesheet" href="/public/assets/css/neon-theme.css">
	<link rel="stylesheet" href="/public/assets/css/neon-forms.css">
	<link rel="stylesheet" href="/public/assets/css/custom.css">
	
</head>

<script>
	(function () {
		var events = {
		  default: {
			_OnNamespaceConnected: function (ns, msg) {                 
			  //stub:
			 // alert("connected")
			},
			_OnNamespaceDisconnect: function (ns, msg) {
			  //stub:
			  
			},
			communicate: function (ns, msg) {
				updateTable(msg.Body);
			}
		  }
		};
	  
		neffos.dial("ws://localhost:8080/echo", events).then(function (client) {
		  client.connect("default");
		});
	  })();
	  function updateTable(msg){
		var obj = eval("("+msg+")");
		switch(obj.MsgSign) {
     		case "Non_Real_File_State":
			 updateNonRealTable(obj);
       		 	break;
			 case "CCTC_Process_State":   
			 updateCCTCTable(obj);
       			 break;
			case "Protocal_Process_State":      
			 updateProtocalTable(obj);
       			 break;
     		default:        
} 
	  }
	  function updateProtocalTable(obj){
            var trStr = '';//动态拼接table
            trStr += '<tr>';//拼接处规范的表格形式
            trStr += '<td>'+ obj.MsgType+'</td>';
            trStr += '<td>'+ obj.ID+'</td>';
            trStr += '<td>'+ obj.MID+'</td>';
            trStr += '<td>'+ obj.BID+'</td>';
			trStr += '<td>'+ obj.PID+'</td>';
			trStr += '<td>'+ obj.MainOrBackup+'</td>';
            trStr += '<td>'+ obj.ProcessName+'</td>';
            trStr += '<td>'+ obj.Report.Report_type+'</td>';
            trStr += '<td>'+ obj.Report.Command_type+'</td>';
            trStr += '<td>'+ obj.Report.Command_result+'</td>';
            trStr += '<td>'+ obj.Report.Recv_status_revert+'</td>';
            trStr += '<td>'+ obj.Report.Recv_status+'</td>';
            trStr += '<td>'+ obj.Report.First+'</td>';
			trStr += '<td>'+ obj.Report.Last+'</td>';
            trStr += '<td>'+ obj.Report.Recv_count+'</td>';
            trStr += '<td>'+ obj.Report.Send_no+'</td>';
			trStr+='</tr>';
			jQuery('#protocal_tb').append(trStr);
	  }
	  function updateCCTCTable(obj){
            var trStr = '';//动态拼接table
            trStr += '<tr>';//拼接处规范的表格形式
            trStr += '<td>'+ obj.msgType+'</td>';
            trStr += '<td>'+ obj.processId+'</td>';
            trStr += '<td>'+ obj.sysId+'</td>';
            trStr += '<td>'+ obj.pattern+'</td>';
            trStr += '<td>'+ obj.channel+'</td>';
            trStr += '<td>'+ obj.isSend32KB+'</td>';
            trStr += '<td>'+ obj.isSendIPinIP+'</td>';
            trStr += '<td>'+ obj.isSaveFile+'</td>';
            trStr += '<td>'+ obj.isArchive+'</td>';
            trStr += '<td>'+ obj.resendShmHead+'</td>';
            trStr += '<td>'+ obj.resendShmTear+'</td>';
            trStr += '<td>'+ obj.resendWriteShmLoop+'</td>';
            trStr += '<td>'+ obj.resendReadShmLoop+'</td>';
			trStr += '<td>'+ obj.resendWriteShmSpeed+'</td>';
            trStr += '<td>'+ obj.resendReadShmSpeed+'</td>';
            trStr += '<td>'+ obj.saveShmHead+'</td>';
            trStr += '<td>'+ obj.saveShmTear+'</td>';
            trStr += '<td>'+ obj.saveWriteShmLoop+'</td>';
            trStr += '<td>'+ obj.saveReadShmLoop+'</td>';
			trStr += '<td>'+ obj.saveWriteShmSpeed+'</td>';
            trStr += '<td>'+ obj.saveReadShmSpeed+'</td>';
            trStr += '<td>'+ obj.recvBeats+'</td>';
            trStr += '<td>'+ obj.resendBeats+'</td>';
			trStr += '<td>'+ obj.saveBeats+'</td>';
            trStr += '<td>'+ obj.recvBytes+'</td>';
            trStr += '<td>'+ obj.send32KFrames+'</td>';
            trStr += '<td>'+ obj.sendIPinIPFrames+'</td>';
            trStr += '<td>'+ obj.sendSmallCraftFrames+'</td>';
            trStr += '<td>'+ obj.timeStamp+'</td> ';
			trStr+='</tr>';
			jQuery('#cctc_tb').append(trStr);
	  }
	  function updateNonRealTable(obj){
            var trStr = '';//动态拼接table
            trStr += '<tr>';//拼接处规范的表格形式
            trStr += '<td>'+ obj.MsgTag+'</td>';
            trStr += '<td>'+ obj.MsgType+'</td>';
            trStr += '<td>'+ obj.MissionID+'</td>';
            trStr += '<td>'+ obj.Subtype+'</td>';
            trStr += '<td>'+ obj.MSGID+'</td>';
            trStr += '<td>'+ obj.Sender+'</td>';
            trStr += '<td>'+ obj.Timestamp+'</td>';
            trStr += '<td>'+ obj.Type+'</td>';
            trStr += '<td>'+ obj.SendSessionID+'</td>';
            trStr += '<td>'+ obj.FileName+'</td>';
            trStr += '<td>'+ obj.FilePath+'</td>';
            trStr += '<td>'+ obj.Status+'</td>';
            trStr += '<td>'+ obj.Station+'</td>';
			trStr+='</tr>';
			jQuery('#nonreal_tb').append(trStr);
	  }
</script>


<body class="page-body  page-fade" >

<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
	
	<div class="sidebar-menu">

		<div class="sidebar-menu-inner">
			
			<header class="logo-env">

				<!-- logo -->
				<div class="logo">
					<a href="index.html">
						<img src="/public/assets/images/logon-gofront-2.png" width="120" alt="" />
					</a>
				</div>

				<!-- logo collapse icon -->
				<div class="sidebar-collapse">
					<a href="#" class="sidebar-collapse-icon"><!-- add class "with-animation" if you want sidebar to have animation during expanding/collapsing transition -->
						<i class="entypo-menu"></i>
					</a>
				</div>

								
				<!-- open/close menu icon (do not remove if you want to enable menu on mobile devices) -->
				<div class="sidebar-mobile-menu visible-xs">
					<a href="#" class="with-animation"><!-- add class "with-animation" to support animation -->
						<i class="entypo-menu"></i>
					</a>
				</div>

			</header>
			
									
			<ul id="main-menu" class="main-menu">
				<!-- add class "multiple-expanded" to allow multiple submenus to open -->
				<!-- class "auto-inherit-active-class" will automatically add "active" class for parent elements who are marked already with class "active" -->
				<li>
					<a href="index.html" target="_blank">
						<i class="entypo-monitor"></i>
						<span class="title">Monitor</span>
					</a>
				</li>
			</ul>
			
		</div>

	</div>

	<div class="main-content">
	
		<div class="row">
			<div class="col-sm-3 col-xs-6">
		
				<div class="tile-stats tile-red">
					<div class="icon"><i class="entypo-users"></i></div>
					<div class="num" >3</div>
		
					<h3>New Messages</h3>
					<p>messages per day.</p>
				</div>
		
			</div>
		
			<div class="col-sm-3 col-xs-6">
		
				<div class="tile-stats tile-green">
					<div class="icon"><i class="entypo-chart-bar"></i></div>
					<div class="num" >0</div>
		
					<h3>CCTC Process State</h3>
					<p>so far in cctc process_state db.</p>
				</div>
		
			</div>
		
			<div class="col-sm-3 col-xs-6">
		
				<div class="tile-stats tile-aqua">
					<div class="icon"><i class="entypo-mail"></i></div>
					<div class="num" >0</div>
		
					<h3>Protocal Process State</h3>
					<p>so far in protocal process_state db.</p>
				</div>
		
			</div>
		
			<div class="col-sm-3 col-xs-6">
		
				<div class="tile-stats tile-blue">
					<div class="icon"><i class="entypo-rss"></i></div>
					<div class="num" >0</div>
		
					<h3>File Send State</h3>
					<p>so far in non-real file_send_state db.</p>
				</div>
		
			</div>
		</div>

		<br />
		
		<div class="row" > 
		
			<div class="col-sm-12">
		
				<div class="panel panel-primary" style="overflow:scroll;  height:250px;text-overflow: ellipsis;white-space: nowrap;">
					<div class="panel-heading">
						<div class="panel-title">New Messages</div>
					</div>
		
					<table class="table table-bordered table-responsive">
						<thead>
							<tr>
								<th>Time</th>
								<th>Message Summary</th>
							</tr>
						</thead>
		
						<tbody>
							<tr>
								<td>2020-3-31 16:52:15</td>
								<td class="text-danger">17.195.96.38 heartbeat stopped!</td>
							</tr>
		
							<tr>
								<td>2020-3-31 17:52:15</td>
								<td class="text-danger">17.195.96.38 heartbeat stopped!</td>
							</tr>
		
							<tr>
								<td>2020-3-31 18:52:15</td>
								<td class="text-danger">17.195.96.38 heartbeat stopped!</td>
							</tr>
		
						</tbody>
					</table>
				</div>
		
			</div>
		
		</div>
		
		<br />
		
        <div class="row" >
		
			<div class="col-sm-12">
		
				<div class="panel panel-primary" style="overflow:scroll;  height:250px;text-overflow: ellipsis;white-space: nowrap;">
					<div class="panel-heading">
						<div class="panel-title">CCTC Process State</div>
					</div>
					<table id="cctc_tb" class="table table-bordered table-responsive" >
						<thead>
							<tr>
								<th>MsgType</th>
								<th>ProcessId</th>
								<th>SysId</th>
								<th>Pattern</th>
								<th>Channel</th>
								<th>IsSend32KB</th>
								<th>IsSendIPinIP</th>
								<th>IsSaveFile</th>
								<th>IsArchive</th>
								<th>ResendShmHead</th>
								<th>ResendShmTear</th>
								<th>ResendWriteShmLoop</th>
								<th>ResendReadShmLoop</th>
								<th>ResendWriteShmSpeed</th>
								<th>ResendReadShmSpeed</th>
								<th>SaveShmHead</th>
								<th>SaveShmTear</th>
								<th>SaveWriteShmLoop</th>
								<th>SaveReadShmLoop</th>
								<th>SaveWriteShmSpeed</th>
								<th>SaveReadShmSpeed</th>
								<th>RecvBeats</th>
								<th>ResendBeats</th>
								<th>SaveBeats</th>
								<th>RecvBytes</th>
								<th>Send32KFrames</th>
								<th>SendIPinIPFrames</th>
								<th>SendSmallCraftFrames</th>
								<th>TimeStamp</th>
							</tr>
						</thead>
		
						<tbody>
							<tr>
								<td>CTCCFRONTEND_STATE_REPORT</td>
								<td>123</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1234567890</td>
								<td>9876543210</td>
								<td>12</td>
								<td>12</td>
								<td>192.05</td>
								<td>191.23</td>
								<td>1234567890</td>
								<td>9876543210</td>
								<td>12</td>
								<td>12</td>
								<td>192.05</td>
								<td>191.23</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>4829104024513</td>
								<td>1923435</td>
								<td>213421</td>
								<td>0</td>
								<td>2018-11-29_14:02:43.423.5</td>
							</tr>
							<tr>
								<td>CTCCFRONTEND_STATE_REPORT</td>
								<td>123</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1234567890</td>
								<td>9876543210</td>
								<td>12</td>
								<td>12</td>
								<td>192.05</td>
								<td>191.23</td>
								<td>1234567890</td>
								<td>9876543210</td>
								<td>12</td>
								<td>12</td>
								<td>192.05</td>
								<td>191.23</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>4829104024513</td>
								<td>1923435</td>
								<td>213421</td>
								<td>0</td>
								<td>2018-11-29_14:02:43.423.5</td>
							</tr>
							<tr>
								<td>CTCCFRONTEND_STATE_REPORT</td>
								<td>123</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>1234567890</td>
								<td>9876543210</td>
								<td>12</td>
								<td>12</td>
								<td>192.05</td>
								<td>191.23</td>
								<td>1234567890</td>
								<td>9876543210</td>
								<td>12</td>
								<td>12</td>
								<td>192.05</td>
								<td>191.23</td>
								<td>1</td>
								<td>1</td>
								<td>1</td>
								<td>4829104024513</td>
								<td>1923435</td>
								<td>213421</td>
								<td>0</td>
								<td>2018-11-29_14:02:43.423.5</td>
							</tr>
						</tbody>
					</table>
				</div>
		
			</div>
		
		</div>
        
        <br />
        <div class="row" >
		
			<div class="col-sm-12" >
		
				<div class="panel panel-primary" style="overflow:scroll;  height:250px;text-overflow: ellipsis;white-space: nowrap;">
					<div class="panel-heading">
						<div class="panel-title">Protocal Process State</div>
					</div>
					<table id="protocal_tb" class="table table-bordered table-responsive " >
						<thead>
							<tr>
								<th>MsgType</th>
								<th>ID</th>
								<th>MID</th>
								<th>BID</th>
								<th>PID</th>
								<th>MainOrBackup</th>
								<th>ProcessName</th>
								<th>Report_type</th>
								<th>Command_type</th>
								<th>Command_result</th>
								<th>Recv_status_revert</th>
								<th>Recv_status</th>
								<th>First</th>
								<th>Last</th>
								<th>Recv_count</th>
								<th>Send_no</th>								
							</tr>
						</thead>
		
						<tbody>
							<tr>
								<td>ProtocalReport</td>
								<td>1234</td>
								<td>HXC</td>
								<td>00112233</td>
								<td>1</td>
								<td>1</td>
								<td>LINK_CTCC - TL1A1_POAC</td>
								<td>CP_REPORT_ON_TIMER</td>
								<td>bb</td>
								<td>bb</td>
								<td>false</td>
								<td>true</td>
								<td>20200321200812</td>
								<td>20200321200812</td>
								<td>100</td>
								<td>100</td>
							</tr>
		
							<tr>
								<td>ProtocalReport</td>
								<td>1234</td>
								<td>HXC</td>
								<td>00112233</td>
								<td>1</td>
								<td>1</td>
								<td>LINK_CTCC - TL1A1_POAC</td>
								<td>CP_REPORT_ON_TIMER</td>
								<td>bb</td>
								<td>bb</td>
								<td>false</td>
								<td>true</td>
								<td>20200321200812</td>
								<td>20200321200812</td>
								<td>100</td>
								<td>100</td>
							</tr>
		
							<tr>
								<td>ProtocalReport</td>
								<td>1234</td>
								<td>HXC</td>
								<td>00112233</td>
								<td>1</td>
								<td>1</td>
								<td>LINK_CTCC - TL1A1_POAC</td>
								<td>CP_REPORT_ON_TIMER</td>
								<td>bb</td>
								<td>bb</td>
								<td>false</td>
								<td>true</td>
								<td>20200321200812</td>
								<td>20200321200812</td>
								<td>100</td>
								<td>100</td>
							</tr>
		
						</tbody>
					</table>
				</div>
		
			</div>
		
        </div>
        
        <br />
        <div class="row" >
		
			<div class="col-sm-12" > 	
		
				<div class="panel panel-primary" style="overflow:scroll; height:250px;text-overflow: ellipsis;white-space: nowrap;">
					<div class="panel-heading">
						<div class="panel-title">File Send State</div>
					</div>
					<table id="nonreal_tb" class="table table-bordered table-responsive" style="word-break:break-all; word-wrap:break-all;">
						<thead>
							<tr>
								<th>MsgTag</th>
								<th>MsgType</th>
								<th>MissionID</th>
								<th>Subtype</th>
								<th>MSGID</th>
								<th>Sender</th>
								<th>Timestamp</th>
								<th>Type</th>
								<th>SendSessionID</th>
								<th>FileName</th>
								<th>FilePath</th>
								<th>Status</th>
								<th>Station</th>
							</tr>
						</thead>
		
						<tbody>
							<tr>
								<td>MCSMES</td>
								<td>SJTZ</td>
								<td>a</td>
								<td>WJFS</td>
								<td>s</td>
								<td>OIM</td>
								<td>2020-02-29_10:20:20</td>
								<td>SEND</td>
								<td>s</td>
								<td>abc.tx</td>
								<td>/home/oliver/</td>
								<td>WAIT/SENDING/FINISH/ERR</td>
								<td>BACC/CTCC</td>
							</tr>
		
							<tr>
								<td>MCSMES</td>
								<td>SJTZ</td>
								<td>a</td>
								<td>WJFS</td>
								<td>s</td>
								<td>OIM</td>
								<td>2020-02-29_10:20:20</td>
								<td>SEND</td>
								<td>s</td>
								<td>abc.tx</td>
								<td>/home/oliver/</td>
								<td>WAIT/SENDING/FINISH/ERR</td>
								<td>BACC/CTCC</td>
							</tr>
		
							<tr>
								<td>MCSMES</td>
								<td>SJTZ</td>
								<td>a</td>
								<td>WJFS</td>
								<td>s</td>
								<td>OIM</td>
								<td>2020-02-29_10:20:20</td>
								<td>SEND</td>
								<td>s</td>
								<td>abc.tx</td>
								<td>/home/oliver/</td>
								<td>WAIT/SENDING/FINISH/ERR</td>
								<td>BACC/CTCC</td>
							</tr>
		
						</tbody>
					</table>
				</div>
		
			</div>
		
        </div>

	</div>

</body>
</html>