{{ define "navigator" }}
	
<div class="sidebar-menu">

    <div class="sidebar-menu-inner">
        
        <header class="logo-env">

            <!-- logo -->
            <div class="logo">
                <a href="/">
                    <img src="/public/assets/images/logon-gofront-2.png" width="120" alt="" />
                </a>
            </div>

            <!-- logo collapse icon -->
            <div class="sidebar-collapse">
                <a href="#" class="sidebar-collapse-icon"><!-- add class "with-animation" if you want sidebar to have animation during expanding/collapsing transition -->
                    <i class="entypo-menu"></i>
                </a>
            </div>

                            
            <!-- open/close menu icon (do not remove if you want to enable menu on mobile devices) -->
            <div class="sidebar-mobile-menu visible-xs">
                <a href="#" class="with-animation"><!-- add class "with-animation" to support animation -->
                    <i class="entypo-menu"></i>
                </a>
            </div>

        </header>
        
                                
        <ul id="main-menu" class="main-menu">
            <!-- add class "multiple-expanded" to allow multiple submenus to open -->
            <!-- class "auto-inherit-active-class" will automatically add "active" class for parent elements who are marked already with class "active" -->
            <li id="monitor_real">
                <a>
                    <i class="entypo-monitor"></i>
                    <span class="title">实时监控</span>
                </a>
                <ul>
                    <li id="home_page">
                        <a href="/home">
                            <span class="title">主页</span>
                        </a>
                    </li>
                    <li id="ctcc_monitor"> 
                        <a href="/ctcc/monitor/">
                            <span class="title">CTCC前端(滚动)</span>
                        </a>
                    </li>
                    <script>
                        jQuery(document).ready(function(){
                        if(window.location.href.indexOf('/ctcc/monitor')>0){
                            jQuery("#monitor_real").addClass('opened active');
                            jQuery("#ctcc_monitor").addClass('active');
                        }
                    });
                    </script>
                    <li id="protocal_monitor">
                        <a href="/protocal/monitor">
                            <span class="title">协议进程(滚动)</span>
                        </a>
                    </li>
                    <script>
                        jQuery(document).ready(function(){
                        if(window.location.href.indexOf('/protocal/monitor')>0){
                            jQuery("#monitor_real").addClass('opened active');
                            jQuery("#protocal_monitor").addClass('active');
                        }
                    });
                    </script>
                    <li id="nonreal_monitor">
                        <a href="/non_real/monitor">
                            <span class="title">非实时前端(滚动)</span>
                        </a>
                    </li>
                    <script>
                        jQuery(document).ready(function(){
                        if(window.location.href.indexOf('/non_real/monitor')>0){
                            jQuery("#monitor_real").addClass('opened active');
                            jQuery("#nonreal_monitor").addClass('active');
                        }
                    });
                 </script>
                </ul>
            </li>
            <script>
                jQuery(document).ready(function(){
                if(window.location.href.indexOf('home')>0){
                    jQuery("#monitor_real").addClass('opened active');
                    jQuery("#home_page").addClass('active');
                }
            });
            </script>
            <li id="history_query">
                <a>
                    <i class="entypo-window"></i>
                    <span class="title">历史查询</span>
                </a>
                <ul>
                    <li id="ctcc_query"> 
                        <a href="/ctcc/query/">
                            <span class="title">CTCC前端</span>
                        </a>
                    </li>
                    <script>
                        jQuery(document).ready(function(){
                        if(window.location.href.indexOf('/ctcc/query')>0){
                            jQuery("#history_query").addClass('opened active');
                            jQuery("#ctcc_query").addClass('active');
                        }
                    });
                    </script>
                    <li id="protocal_query">
                        <a href="/protocal/query">
                            <span class="title">协议进程</span>
                        </a>
                    </li>
                    <script>
                        jQuery(document).ready(function(){
                        if(window.location.href.indexOf('/protocal/query')>0){
                            jQuery("#history_query").addClass('opened active');
                            jQuery("#protocal_query").addClass('active');
                        }
                    });
                    </script>
                    <li id="nonreal_query">
                        <a href="/non_real/query">
                            <span class="title">非实时前端</span>
                        </a>
                    </li>
                    <script>
                        jQuery(document).ready(function(){
                        if(window.location.href.indexOf('/non_real/query')>0){
                            jQuery("#history_query").addClass('opened active');
                            jQuery("#nonreal_query").addClass('active');
                        }
                    });
                 </script>
                </ul>
            </li>
            {{if .}}
            <li id="comand_all">
            {{else}}
            <li id="comand_all" style="display:none;"></li>
            {{end}}
                <a>
                    <i class="entypo-newspaper"></i>
                    <span class="title">控制命令</span>
                </a>
                <ul>
                    {{if .}}
                    <li id="comand_ctcc">
                    {{else}}
                    <li id="comand_ctcc" style="display:none;">
                    {{end}}
                        <a href="/ctcc/commandpage">
                            <span class="title">CTCC前端</span>
                        </a>
                    </li>
                    <script>
                        jQuery(document).ready(function(){
                        if(window.location.href.indexOf('/ctcc/commandpage')>0){
                            jQuery("#comand_all").addClass('opened active');
                            jQuery("#comand_ctcc").addClass('active');
                        }
                    });
                    </script>
                     {{if .}}
                    <li id="comand_protocal">
                    {{else}}
                    <li id="comand_protocal"  style="display:none;"></li>
                    {{end}}
                        <a href="/protocal/commandpage">
                            <span class="title">协议进程</span>
                        </a>
                    </li>
                    <script>
                        jQuery(document).ready(function(){
                        if(window.location.href.indexOf('/protocal/commandpage')>0){
                            jQuery("#comand_all").addClass('opened active');
                            jQuery("#comand_protocal").addClass('active');
                        }
                    });
                    </script>
                     {{if .}}
                    <li id="comand_nonreal"> 
                    {{else}}
                    <li id="comand_nonreal"  style="display:none;"> 
                    {{end}}
                        <a href="/non_real/commandpage" >
                            <span class="title">非实时前端</span>
                        </a>
                    </li>
                    <script>
                        jQuery(document).ready(function(){
                        if(window.location.href.indexOf('/non_real/commandpage')>0){
                            jQuery("#comand_all").addClass('opened active');
                            jQuery("#comand_nonreal").addClass('active');
                        }
                    });
                    </script>
                </ul>
            </li>
        </ul>
        
    </div>

</div>

{{end}}
