<!DOCTYPE html>
<html lang="en">
<head>
	{{ template "header"}}

</head>


<body class="page-body  page-fade" >

<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
	
	{{ template "navigator"}}
	<div class="main-content" >
		<br/>
		<br/>
		<div class="panel panel-primary" >
			<div class="panel-heading">
				<div  class="panel-title ">非实时命令</div>
			</div>
		<br/>
		<form role="form" class="form-horizontal form-groups-bordered">
			<div class="form-group">
				<label style="text-align:left" class="col-sm-2 control-label col-sm-offset-1">消息标识</label>			
				<div class="col-sm-3">
					<select class="form-control" id="msgTagControl">
						<option>MCSMES</option>
					</select>
				</div>
				<label style="text-align:left"  class="col-sm-2 control-label">任务标识</label>			
				<div class="col-sm-3">
					<select class="form-control" id="missionIDControl">
						<option>undetermined</option>
					</select>									
				</div>
			</div>
		</form>
		<br/>
		<form role="form" class="form-horizontal form-groups-bordered">
			<div class="form-group">
				<label style="text-align:left"  class="col-sm-2 control-label col-sm-offset-1">消息类型</label>			
				<div class="col-sm-3">
					<select class="form-control" id="msgTypeControl">
						<option>SJTZ</option>
					</select>
				</div>
				<label style="text-align:left"  class="col-sm-2 control-label">子消息类型</label>			
				<div class="col-sm-3">
					<select class="form-control" id="subtypeControl">
						<option>WJFS</option>
					</select>									
				</div>
			</div>
		</form>
		<br/>
		<form role="form" class="form-horizontal form-groups-bordered">
			<div class="form-group">
				<label style="text-align:left"  class="col-sm-2 control-label col-sm-offset-1">会话标识</label>			
				<div class="col-sm-3">
					<input type="text" id="MSGIDControl" class="form-control"  placeholder="undetermined" >
				</div>
				<label style="text-align:left"  class="col-sm-2 control-label">消息发送者</label>			
				<div class="col-sm-3">
					<select class="form-control" id="senderControl">
						<option>OIM</option>
					</select>									
				</div>
			</div>
		</form>
		<br/>
		<form role="form" class="form-horizontal form-groups-bordered">
			<div  class="form-group">
				<label style="text-align:left"  class="col-sm-2 control-label col-sm-offset-1">时间</label>			
				<div class='input-group date col-sm-3' id='datetimepicker1'>
					<input type='text' class="form-control" />
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-calendar"></span>
					</span>
				</div>
				<label style="text-align:left"  class="col-sm-2 control-label">发送会话标识</label>			
				<div class="col-sm-3">
					<input type="text"  id="sendSessionIDControl" class="form-control"  placeholder="undetermined" >
				</div>
			</div>
		</form>
		<br/>
		<form role="form" class="form-horizontal form-groups-bordered">
			<div class="form-group">
				<label style="text-align:left"  class="col-sm-2 control-label col-sm-offset-1">文件名</label>			
				<div class="col-sm-3">
					<input type="text" id="filenameControl" class="form-control"  placeholder="abc.txt" >
				</div>
				<label style="text-align:left"  class="col-sm-2 control-label">文件路径</label>			
				<div class="col-sm-3">
					<input type="text" id="filePathControl" class="form-control"  placeholder="/home/oliver/" >
				</div>
			</div>
		</form>
		<br/>
				<form role="form" class="form-horizontal form-groups-bordered">
			<div class="form-group">
				<label style="text-align:left"  class="col-sm-2 control-label col-sm-offset-1">目的地</label>			
				<div class="col-sm-3">
					<input type="text" class="form-control" id="destinationControl" placeholder="CTCC/BACC" >
				</div>
			</div>
		</form>
		<br/>
		</div>
		<form role="form" class="form-horizontal form-groups-bordered">
			<div class="col-sm-4 ">
				<button type="button" class="btn btn-default btn-lg" id="sendNonRealBtn">发送非实时命令</button>
			</div>
		</form>
	</div>
</div>
<script>
	jQuery(document).ready(function(){
			jQuery("#sendNonRealBtn").click(function(){
			let param={'msgTag':jQuery("#msgTagControl").val(), 'missionID': jQuery("#missionIDControl").val(),
					"msgType": jQuery("#msgTypeControl").val(), "subtype": jQuery("#subtypeControl").val(), 
					"MSGID": jQuery("#MSGIDControl").val(),"sender":jQuery("#senderControl").val(),
					"timestamp":jQuery("#datetimepicker1").find("input").val(),"content":{"sendSessionID":jQuery("#sendSessionIDControl").val(),
					"filename":jQuery("#filenameControl").val(),"filePath":jQuery("#filePathControl").val(),
						"destination":jQuery("#destinationControl").val()}};    
			jQuery.ajax({
					type: 'POST',  
					data: JSON.stringify(param),
					dataType:"text",
					contentType:"application/json",
					crossDomain: true,
					xhrFields: {
						withCredentials: true
					},
					url : "/non_real/send_command",
					success: function(data) {
						alert("send success!");
					},
					complete: function( xhr,data ){
						
					},
					error:function(XMLHttpRequest, textStatus){  
						alert(textStatus);
					}
				});
		  });
		});
		jQuery('#datetimepicker1').datetimepicker({
        format: 'YYYY-MM-DD HH:mm:ss',
	});
	</script>
	{{ template "bottom"}}
</body>
</html>