<!DOCTYPE html>
<html lang="en">
<head>
	{{ template "header"}}

</head>


<body class="page-body  page-fade" >

<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
	
	{{ template "navigator"}}
	<div class="main-content" style="overflow:scroll; height:250px;text-overflow: ellipsis;white-space: nowrap;">
		<div class="panel panel-primary" data-collapsed="0" style="border: none;">
			<div class="panel-heading" >
				<br/>
				<form role="form" class="form-horizontal form-groups-bordered">
					<div class="form-group">
						<label class="col-sm-1 control-label">消息类型</label>			
						<div class="col-sm-3">
							<select class="form-control" id="msgTypeControl">
								<option>SJTZ</option>
							</select>
						</div>
						<label class="col-sm-1 control-label"> 任务号</label>			
						<div class="col-sm-3">
							<select class="form-control" id="missionIDControl">
								<option>eerr</option>
								<option>ABAb</option>
							</select>									
						</div>	
						<div class="col-sm-2">
							<button type="button" class="btn btn-default" id="queryBtn">查询</button>
						</div>								
					</div>
				</form>
				<br/>
			</div>					
			<table class="table table-bordered datatable"  >
				<thead>
					<tr>
						<th>MsgTag</th>
						<th>MsgType</th>
						<th>MissionID</th>
						<th>Subtype</th>
						<th>MSGID</th>
						<th>Sender</th>
						<th>Timestamp</th>
						<th>Type</th>
						<th>SendSessionID</th>
						<th>FileName</th>
						<th>FilePath</th>
						<th>Status</th>
						<th>Station</th>							
					</tr>
				</thead>
				<tbody id="nonreal_tb">
			
				</tbody>
			</table>			
		</div>

	</div>
</div>
<script src="/public/assets/js/history_query_nonreal.js"></script>
	{{ template "bottom"}}
</body>
</html>