<!DOCTYPE html>
<html lang="en">
<head>
	{{ template "header"}}

</head>


<body class="page-body  page-fade" >

<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
	
	{{ template "navigator" .role}}
	<div class="main-content scroll-bottom" style="overflow-x:scroll;text-overflow: ellipsis;white-space: nowrap;">
		{{ template "content-header" .username}}
		<div class="panel panel-primary" data-collapsed="0" style="border: none;">
			<div class="panel-heading" >
				<br/>
				<form role="form" class="form-horizontal ">
					<div class="col-sm-10">
						<div class="form-group">
							<label style="text-align:left" class="col-sm-2 control-label">类型</label>			
							<div class="col-sm-4">
								<select class="form-control" id="typeControl">
								</select>
							</div>
							<label style="text-align:left" class="col-sm-2 control-label"> 站点</label>			
							<div class="col-sm-4">
								<select class="form-control" id="stationControl">
								</select>									
							</div>								
						</div>
						<div class="form-group">
							<label style="text-align:left" class="col-sm-2 control-label">开始时间</label>			
							<div class='input-group date col-sm-4'  >
								<input type='text' class="form-control" id='datetimepicker1' name='datetimepicker1'/>
							</div>
							<label style="text-align:left" class="col-sm-2 control-label">结束时间</label>			
							<div class='input-group date col-sm-4'  >
								<input type='text' class="form-control" id='datetimepicker2' name='datetimepicker1'/>							
							</div>
						</div>
					</div>
					<div class="col-sm-2 ">
						<div  style=" transform: translateY(50%);">
							<button type="button" class="btn btn-default btn-lg" id="queryBtn">查询</button>
						</div>	
					</div>
				</form>
				<br/>
			</div>					
			<table class="table table-bordered datatable  "  id="nonreal_tb">
				<thead>
					<tr class="replace-inputs">
						<th style="width: 190px;"></th>
						<th style="width: 140px;"></th>
						<th style="width: 120px;"></th>
						<th style="width: 110px;"></th>
						<th style="width: 120px;"></th>
						<th style="width: 120px;"></th>
						<th style="width: 120px;"></th>
						<th style="width: 200px;"></th>
						<th style="width: 120px;"></th>
						<th style="width: 140px;"></th>
						<th style="width: 150px;"></th>
						<th style="width: 150px;"></th>
						<th style="width: 180px;"></th>
						<th style="width: 180px;"></th>	
						{{if .role}}	
						<th style="width: 100px;"></th>	
						{{else}}	
						<th style="width: 100px;display:none;"></th>		
						{{end}}			
					</tr>
					<tr>
						<th>更新时间</th>
						<th>MsgTag</th>
						<th>MsgType</th>
						<th>MissionID</th>
						<th>Subtype</th>
						<th>MSGID</th>
						<th>Sender</th>
						<th>Timestamp</th>
						<th>Type</th>
						<th>SendSessionID</th>
						<th>FileName</th>
						<th>FilePath</th>
						<th>Status</th>
						<th>Station</th>
						{{if .role}}
						<th>操作</th>
						{{else}}
						<th style="display:none;">操作</th>
						{{end}}								
					</tr>
				</thead>
				<tbody >
			
				</tbody>
			</table>			
		</div>

	</div>
</div>
<script src="/public/assets/js/self/select-assignment.js"></script>
<script src="/public/assets/js/self/history_query_nonreal.js"></script>
	{{ template "bottom"}}
</body>
</html>