<!DOCTYPE html>
<html lang="en">
<head>
	{{ template "header"}}
</head>


<body class="page-body  page-fade" >

<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
	
	{{ template "navigator" .role}}

	<div class="main-content scroll-bottom" style="overflow:scroll;">
		{{ template "content-header" .username}}
		
		<br />
		
		<table class="table table-bordered datatable  " id="nonreal_tb">
			<thead>
				<tr class="replace-inputs">
					<th style="width: 190px;"></th>
					<th style="width: 140px;"></th>
					<th style="width: 120px;"></th>
					<th style="width: 110px;"></th>
					<th style="width: 120px;"></th>
					<th style="width: 120px;"></th>
					<th style="width: 120px;"></th>
					<th style="width: 200px;"></th>
					<th style="width: 120px;"></th>
					<th style="width: 140px;"></th>
					<th style="width: 150px;"></th>
					<th style="width: 150px;"></th>
					<th style="width: 180px;"></th>
					<th style="width: 180px;"></th>	
					{{if .role}}	
					<th style="width: 100px;"></th>	
					{{else}}	
					<th style="width: 100px;display:none;"></th>		
					{{end}}			
				</tr>
				<tr>
					<th>更新时间</th>
					<th>MsgTag</th>
					<th>MsgType</th>
					<th>MissionID</th>
					<th>Subtype</th>
					<th>MSGID</th>
					<th>Sender</th>
					<th>Timestamp</th>
					<th>Type</th>
					<th>SendSessionID</th>
					<th>FileName</th>
					<th>FilePath</th>
					<th>Status</th>
					<th>Station</th>
					{{if .role}}
					<th>操作</th>	
					{{else}}
					<th style="display:none;">操作</th>	
					{{end}}	
				</tr>
			</thead>
			<tbody>
				{{ range .nonreal_table_date }}
				<tr>
					<td>{{ .UpDateTime }}</td>
					<td>{{ .MsgTag }}</td>
					<td>{{ .MsgType }}</td>
					<td>{{ .MissionID }}</td>
					<td>{{ .Subtype }}</td>
					<td>{{ .MSGID }}</td>
					<td>{{ .Sender }}</td>
					<td>{{ .Timestamp }}</td>
					<td>{{ .Type }}</td>
					<td>{{ .SendSessionID }}</td>
					<td>{{ .FileName }}</td>
					<td>{{ .FilePath }}</td>
					<td>{{ .Status }}</td>
					<td>{{ .Station }}</td>
					<td><a href="/non_real/commandpage?MsgTag={{ .MsgTag }}&MsgType={{ .MsgType }}&MissionID={{ .MissionID }}&Subtype={{ .Subtype }}&MSGID={{ .MSGID }}&Sender={{ .Sender }}&SendSessionID={{ .SendSessionID }}" target="_blank" style="color:red;">发送命令</a></td>  
				</tr>
			{{ end }}
			</tbody>
		</table>
		
		
		<br />
        
		
	

	
	</div>
	{{ template "websocket"}}
	<script src="/public/assets/js/self/nonreal_monitor.js"></script>
	{{ template "bottom"}}
</body>
</html>