<!DOCTYPE html>
<html lang="en">
<head>
	{{ template "header"}}

</head>


<body class="page-body  page-fade" >

<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
	
	{{ template "navigator"}}
	<div class="main-content" >
		<br/>
		<br/>
		<div class="panel panel-primary" >
			<div class="panel-heading">
				<div  class="panel-title ">非实时命令</div>
			</div>
		<br/>
		<form role="form" class="form-horizontal form-groups-bordered">
			<div class="form-group">
				<label style="text-align:left" class="col-sm-2 control-label col-sm-offset-1">消息标识</label>			
				<div class="col-sm-3">
					<select class="form-control">
						<option>MCSMES</option>
					</select>
				</div>
				<label style="text-align:left"  class="col-sm-2 control-label">任务标识</label>			
				<div class="col-sm-3">
					<select class="form-control">
						<option>undetermined</option>
					</select>									
				</div>
			</div>
		</form>
		<br/>
		<form role="form" class="form-horizontal form-groups-bordered">
			<div class="form-group">
				<label style="text-align:left"  class="col-sm-2 control-label col-sm-offset-1">消息类型</label>			
				<div class="col-sm-3">
					<select class="form-control">
						<option>SJTZ</option>
					</select>
				</div>
				<label style="text-align:left"  class="col-sm-2 control-label">子消息类型</label>			
				<div class="col-sm-3">
					<select class="form-control">
						<option>WJFS</option>
					</select>									
				</div>
			</div>
		</form>
		<br/>
		<form role="form" class="form-horizontal form-groups-bordered">
			<div class="form-group">
				<label style="text-align:left"  class="col-sm-2 control-label col-sm-offset-1">会话标识</label>			
				<div class="col-sm-3">
					<select class="form-control">
						<option>undetermined</option>
					</select>
				</div>
				<label style="text-align:left"  class="col-sm-2 control-label">消息发送者</label>			
				<div class="col-sm-3">
					<select class="form-control">
						<option>OIM</option>
					</select>									
				</div>
			</div>
		</form>
		<br/>
		<form role="form" class="form-horizontal form-groups-bordered">
			<div  class="form-group">
				<label style="text-align:left"  class="col-sm-2 control-label col-sm-offset-1">时间</label>			
				<div class='input-group date col-sm-3' id='datetimepicker1'>
					<input type='text' class="form-control" />
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-calendar"></span>
					</span>
				</div>
				<label style="text-align:left"  class="col-sm-2 control-label">发送会话标识</label>			
				<div class="col-sm-3">
					<select class="form-control">
						<option>undetermined</option>
					</select>									
				</div>
			</div>
		</form>
		<br/>
		<form role="form" class="form-horizontal form-groups-bordered">
			<div class="form-group">
				<label style="text-align:left"  class="col-sm-2 control-label col-sm-offset-1">文件名</label>			
				<div class="col-sm-3">
					<select class="form-control">
						<option>abc.txt</option>
					</select>
				</div>
				<label style="text-align:left"  class="col-sm-2 control-label">文件路径</label>			
				<div class="col-sm-3">
					<select class="form-control">
						<option>/home/oliver/</option>
					</select>
				</div>
			</div>
		</form>
		<br/>
				<form role="form" class="form-horizontal form-groups-bordered">
			<div class="form-group">
				<label style="text-align:left"  class="col-sm-2 control-label col-sm-offset-1">目的地</label>			
				<div class="col-sm-3">
					<select class="form-control">
						<option>CTCC/BACC</option>
					</select>
				</div>
			</div>
		</form>
		<br/>
		</div>
		<form role="form" class="form-horizontal form-groups-bordered">
			<div class="col-sm-4 ">
				<button type="button" class="btn btn-default btn-lg" id="queryBtn">发送非实时命令</button>
			</div>
		</form>
	</div>
</div>
<script>
		jQuery('#datetimepicker1').datetimepicker({
        format: 'YYYY-MM-DD HH:mm:ss',
	});
	</script>
	{{ template "bottom"}}
</body>
</html>