<!DOCTYPE html>
<html lang="en">
<head>
	{{ template "header"}}
	<script src="/public/assets/js/neffos.js"></script>
	<style type="text/css">
		 .table {
        table-layout: fixed ;
	}
	.table tbody tr td{
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
	}
	</style>
</head>


<body class="page-body  page-fade" >

<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
	
	{{ template "navigator"}}

	<div class="main-content" style="overflow:scroll;">

		
		<br />
		
		<table class="table table-bordered datatable" id="protocal_tb">
			<thead>
				<tr class="replace-inputs">
					<th style="width: 190px;"></th>
					<th style="width: 110px;"></th>
					<th style="width: 110px;"></th>
					<th style="width: 120px;"></th>
					<th style="width: 120px;"></th>
					<th style="width: 140px;"></th>
					<th style="width: 200px;"></th>
					<th style="width: 180px;"></th>
					<th style="width: 140px;"></th>
					<th style="width: 150px;"></th>
					<th style="width: 170px;"></th>
					<th style="width: 180px;"></th>
					<th style="width: 180px;"></th>
					<th style="width: 180px;"></th>
					<th style="width: 180px;"></th>
					<th style="width: 140px;"></th>					
				</tr>
				<tr>
					<th>MsgType</th>
					<th>ID</th>
					<th>MID</th>
					<th>BID</th>
					<th>PID</th>
					<th>MainOrBackup</th>
					<th>ProcessName</th>
					<th>Report_type</th>
					<th>Command_type</th>
					<th>Command_result</th>
					<th>Recv_status_revert</th>
					<th>Recv_status</th>
					<th>First</th>
					<th>Last</th>
					<th>Recv_count</th>
					<th>Send_no</th>				
				</tr>
			</thead>
			<tbody id="protocal_tbody">
			</tbody>
		</table>
		
		<script type="text/javascript">
			jQuery(document).ready(function()
			{
				var table = jQuery("#protocal_tb").dataTable({
					"sPaginationType": "bootstrap",
					"aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
					"bStateSave": true,
				});
				
				table.columnFilter({
					"sPlaceHolder" : "head:after"
				});

				
			});
		</script>
		
		<br />
        
		
	

	
	</div>
	<script src="/public/assets/js/protocal_monitor.js"></script>
	{{ template "bottom"}}
</body>
</html>