<!DOCTYPE html>
<html lang="en">
<head>
	{{ template "header"}}

</head>


<body class="page-body  page-fade" >

<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
	
	{{ template "navigator"}}
	<div class="main-content" style="overflow:scroll; height:250px;text-overflow: ellipsis;white-space: nowrap;">
		<div class="panel panel-primary" data-collapsed="0" style="border: none;">
			<div class="panel-heading" >
				<br/>
				<form role="form" class="form-horizontal form-groups-bordered">
					<div class="form-group">
						<label class="col-sm-1 control-label ">来源站</label>			
						<div class="col-sm-2">
							<select class="form-control" disabled>
								<option>ALL</option>
							</select>
						</div>
						<label class="col-sm-1 control-label">任务号</label>			
						<div class="col-sm-2">
							<select class="form-control" id= "MIDControl">
								<option>HXC</option>
								<option>CLOSE</option>
							</select>									
						</div>
						<label class="col-sm-1 control-label">协议进程名称</label>			
						<div class="col-sm-3">
						<select class="form-control" id="ProcessNameControl">
							<option>LINK_CTCC-TL1A1_POAC</option>
						</select>	
					    </div>		
						<div class="col-sm-2">
							<button type="button" class="btn btn-default" id="queryBtn">查询</button>
						</div>								
					</div>
				</form>
				<br/>
			</div>					
			<table class="table table-bordered datatable"  >
				<thead>
					<tr>
						<th>MsgType</th>
						<th>ID</th>
						<th>MID</th>
						<th>BID</th>
						<th>PID</th>
						<th>MainOrBackup</th>
						<th>ProcessName</th>
						<th>Report_type</th>
						<th>Command_type</th>
						<th>Command_result</th>
						<th>Recv_status_revert</th>
						<th>Recv_status</th>
						<th>First</th>
						<th>Last</th>
						<th>Recv_count</th>
						<th>Send_no</th>								
					</tr>
				</thead>
				<tbody id="protocal_tb">
			
				</tbody>
			</table>			
		</div>

	</div>
</div>
<script src="/public/assets/js/history_query_protocal.js"></script>
	{{ template "bottom"}}
</body>
</html>