<!DOCTYPE html>
<html lang="en">
<head>
	{{ template "header"}}

</head>


<body class="page-body  page-fade" >

<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
	
	{{ template "navigator"}}
	<div class="main-content" >
		<br/>
		<br/>
		<div class="panel panel-primary" >
			<div class="panel-heading">
				<div  class="panel-title ">协议命令</div>
			</div>
		<br/>
		<form role="form" class="form-horizontal form-groups-bordered">
			<div class="form-group">
				<label style="text-align:left" class="col-sm-2 control-label col-sm-offset-1">消息类型</label>			
				<div class="col-sm-3">
					<select class="form-control">
						<option>ProtocalReport</option>
					</select>
				</div>
				<label style="text-align:left"  class="col-sm-2 control-label">软件标识</label>			
				<div class="col-sm-3">
					<select class="form-control">
						<option>1</option>
						<option>2</option>
					</select>									
				</div>
			</div>
		</form>
		<br/>
		<form role="form" class="form-horizontal form-groups-bordered">
			<div class="form-group">
				<label style="text-align:left"  class="col-sm-2 control-label col-sm-offset-1">任务号</label>			
				<div class="col-sm-3">
					<select class="form-control">
						<option>HXC</option>
					</select>
				</div>
				<label style="text-align:left"  class="col-sm-2 control-label">数据类型</label>			
				<div class="col-sm-3">
					<select class="form-control">
						<option>00112233</option>
					</select>									
				</div>
			</div>
		</form>
		<br/>
		<form role="form" class="form-horizontal form-groups-bordered">
			<div class="form-group">
				<label style="text-align:left"  class="col-sm-2 control-label col-sm-offset-1">协议进程名称</label>			
				<div class="col-sm-3">
					<select class="form-control">
						<option>LINK_CTCC-TL1A1_POAC</option>
					</select>
				</div>
				<label style="text-align:left"  class="col-sm-2 control-label">命令序号</label>			
				<div class="col-sm-3">
					<select class="form-control">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
						<option>6</option>
					</select>									
				</div>
			</div>
		</form>
		<br/>
		<form role="form" class="form-horizontal form-groups-bordered">
			<div  class="form-group">
				<label style="text-align:left"  class="col-sm-2 control-label col-sm-offset-1">命令名称</label>			
				<div class="col-sm-3">
					<select class="form-control">
						<option>START</option>
						<option>STOP</option>
						<option>MODE</option>
						<option>OPEN</option>
						<option>CLOSE</option>
						<option>SEND</option>
						<option>RESET</option>
						<option>REPORT</option>
						<option>ARCHIVE</option>
					</select>
				</div>
				<label style="text-align:left"  class="col-sm-2 control-label">命令参数(MODE)</label>			
				<div class="col-sm-3">
					<select class="form-control">
						<option>MAIN/BACKUP</option>
					</select>									
				</div>
			</div>
		</form>
		<br/>
		<form role="form" class="form-horizontal form-groups-bordered">
			<div class="form-group">
				<label style="text-align:left"  class="col-sm-2 control-label col-sm-offset-1">协议名称</label>			
				<div class="col-sm-3">
					<select class="form-control">
						<option>LINK</option>
					</select>
				</div>
			</div>
		</form>
		<br/>
		</div>
		<br/>
		<form role="form" class="form-horizontal form-groups-bordered">
			<div class="col-sm-4 ">
				<button type="button" class="btn btn-default btn-lg" id="queryBtn">发送协议命令</button>
			</div>
		</form>
	</div>
</div>
	{{ template "bottom"}}
</body>
</html>