<!DOCTYPE html>
<html lang="en">
<head>
	{{ template "header"}}

</head>


<body class="page-body  page-fade" >

<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
	
	{{ template "navigator" .role}}
	<div class="main-content scroll-bottom" style="overflow-x:scroll;text-overflow: ellipsis;white-space: nowrap;">
		{{ template "content-header" .username}}
		<div class="panel panel-primary" data-collapsed="0" style="border: none;">
			<div class="panel-heading" >
				<form role="form" class="form-horizontal ">
					<div class="col-sm-11">
						<div class="form-group">
							<label style="text-align:left" class="col-sm-1 control-label ">来源站</label>			
							<div class="col-sm-3">
								<select class="form-control" id="sourceStationControl" disabled >
								</select>
							</div>
							<label style="text-align:left" class="col-sm-1 control-label">任务号</label>			
							<div class="col-sm-3">
								<select class="form-control" id= "MIDControl">
								</select>									
							</div>
							<label style="text-align:left" class="col-sm-1 control-label">协议进程名称</label>			
							<div class="col-sm-3">
							<select class="form-control" id="ProcessNameControl">
							</select>	
					    	</div>									
						</div>
						<div class="form-group">
							<label style="text-align:left" class="col-sm-1 control-label ">报告类型</label>			
							<div class="col-sm-3">
								<select class="form-control" id="Report_typeControl"  >
								</select>
							</div>
							<label style="text-align:left" class="col-sm-1 control-label">开始时间</label>			
							<div class='input-group date col-sm-3'  >
								<input type='text' class="form-control" id='datetimepicker1' name='datetimepicker1'/>
							</div>
							<label style="text-align:left" class="col-sm-1 control-label">结束时间</label>			
							<div class='input-group date col-sm-3'  >
								<input type='text' class="form-control" id='datetimepicker2' name='datetimepicker1'/>
							</div>								
						</div>
					</div>
					<div class="col-sm-1 ">
						<div class="form-group" style=" transform: translateY(50%);">
							<button type="button" class="btn btn-default  btn-lg" id="queryBtn">查询</button>
						</div>
					</div>
				</form>
				<br/>
			</div>					
			<table class="table table-bordered datatable pagetable"  id="protocal_table">
				<thead>
					<tr class="replace-inputs">
						<th style="width: 190px;"></th>
						<th style="width: 110px;"></th>
						<th style="width: 110px;"></th>
						<th style="width: 120px;"></th>
						<th style="width: 120px;"></th>
						<th style="width: 140px;"></th>
						<th style="width: 200px;"></th>
						<th style="width: 180px;"></th>
						<th style="width: 140px;"></th>
						<th style="width: 150px;"></th>
						<th style="width: 170px;"></th>
						<th style="width: 180px;"></th>
						<th style="width: 180px;"></th>
						<th style="width: 180px;"></th>
						<th style="width: 180px;"></th>
						<th style="width: 140px;"></th>	
						{{if .role}}		
						<th style="width: 100px;"></th>		
						{{else}}	
						<th style="width: 100px;display:none;"></th>	
						{{end}}				
					</tr>
					<tr>
						<th>MsgType</th>
						<th>ID</th>
						<th>MID</th>
						<th>BID</th>
						<th>PID</th>
						<th>MainOrBackup</th>
						<th>ProcessName</th>
						<th>Report_type</th>
						<th>Command_type</th>
						<th>Command_result</th>
						<th>Recv_status_revert</th>
						<th>Recv_status</th>
						<th>First</th>
						<th>Last</th>
						<th>Recv_count</th>
						<th>Send_no</th>	
						{{if .role}}
						<th id="protocal_head_op">操作</th>
						{{else}}
						<th id="protocal_head_op" style="display:none;">操作</th>
						{{end}}						
					</tr>
				</thead>
				<tbody id="protocal_tb">
			
				</tbody>
			</table>			
		</div>

	</div>
</div>

<script src="/public/assets/js/select-assignment.js"></script>
<script src="/public/assets/js/history_query_protocal.js"></script>
	{{ template "bottom"}}
</body>
</html>