<!DOCTYPE html>
<html lang="en">
<head>
	{{ template "header"}}

</head>


<body class="page-body  page-fade" >

<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
	
	{{ template "navigator"}}
	<div class="main-content" >
		<br/>
		<br/>
		<div class="panel panel-primary" >
			<div class="panel-heading">
				<div  class="panel-title ">协议命令</div>
			</div>
		<br/>
		<form role="form"  id="proctocalForm"  class="form-horizontal ">
			<div class="form-group">
				<label style="text-align:left" class="col-sm-2 control-label col-sm-offset-1">消息类型</label>			
				<div class="col-sm-3">
					<select class="form-control" id="msgTypeControl_Protocal">
					</select>
				</div>
				<label style="text-align:left"  class="col-sm-2 control-label">软件标识</label>			
				<div class="col-sm-3">
					<select class="form-control" id="IDControl">
					</select>									
				</div>
			</div>
			<div class="form-group">
				<label style="text-align:left"  class="col-sm-2 control-label col-sm-offset-1">任务号</label>			
				<div class="col-sm-3">
					<select class="form-control" id="MIDControl" >
					</select>
				</div>

				<label style="text-align:left"  class="col-sm-2 control-label " >数据类型</label>			
				<div class="col-sm-3">
					<input type="text" class="form-control" name="BID"   id="BIDControl" >
				</div>
			</div>
			<div class="form-group">
				<label style="text-align:left"  class="col-sm-2 control-label col-sm-offset-1">协议进程名称</label>			
				<div class="col-sm-3">
					<select class="form-control" id="ProcessNameControl">
					</select>
				</div>

				<label  style="text-align:left"  class="col-sm-2 control-label">命令序号</label>			
				<div class="col-sm-3">
					<input type="text" class="form-control" name="OrderSeq"   id="OrderSeqControl">
				</div>
			</div>
			<div  class="form-group">
				<label style="text-align:left"  class="col-sm-2 control-label col-sm-offset-1">命令名称</label>			
				<div class="col-sm-3">
					<select class="form-control" id="OrderNameControl">
					</select>
				</div>
				<label style="text-align:left"  class="col-sm-2 control-label">命令参数(MODE)</label>			
				<div class="col-sm-3">
					<input type="text" id="MODEControl" class="form-control"   disabled>
				</div>
			</div>
			<div class="form-group">
				<label style="text-align:left"  class="col-sm-2 control-label col-sm-offset-1">协议名称</label>			
				<div class="col-sm-3">
					<select class="form-control" id="ProtocalControl">
					</select>
				</div>
			</div>
		</form>
		<br/>
		</div>
		<br/>
		<form role="form" class="form-horizontal form-groups-bordered">
			<div class="col-sm-4 ">
				<button type="button" class="btn btn-default btn-lg" id="sendProtocalBtn">发送协议命令</button>
			</div>
		</form>
	</div>
</div>
<script src="/public/assets/js/protocal_command.js"></script>
<script src="/public/assets/js/select-assignment.js"></script>
	{{ template "bottom"}}
</body>
</html>