{{ define "websocket" }}

<script src="/public/assets/js/import/neffos.js"></script>
<script>
(function () {
    var events = {
      default: {
        _OnNamespaceConnected: function (ns, msg) {                 
          //stub:
         // alert("connected")
        },
        _OnNamespaceDisconnect: function (ns, msg) {
          //stub:
          
        },
        communicate: function (ns, msg) {
            updateTable(msg.Body);
        }
      }
    };
    neffos.dial("ws://"+document.location.host+"/echo", events).then(function (client) {
      client.connect("default");
    });
  })();
</script>
{{ end }}